extends ./layout

block body
  .container
    h1 Congratulation ! Success !
    form.form-delete(action='/delete', method='post')        
      h3 id: #{user.id}
      h4 session : #{req.session.userEmail}
      h3 email: #{user.email}
      h3 createdAt: #{user.createdAt}
      input(type="hidden" name="email" value="#{user.email}")    
      input(type="hidden" name="password" value="#{user.password}")
      button.btn.btn-lg.btn-primary.btn-block(type='submit') Delete

block scripts
